<body>
  
  <header>
    <nav>
      <h2>Mason Lopez</h2>
      
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Help</li>
      </ul>
      
    </nav>
  </header>
  
  <section>
    <h2>Cherwell Developer; Web Developer; Other;</h2>
    <button>View my Work</button>
  </section>
  
  <footer>
    <p>copyright 2017 Mason Lopez</p>
    <ul>
      <li><a href="https://github.com/sporkbrigade" target='_blank' ><img src="https://dl.dropboxusercontent.com/s/5mebc1jbg6rdmw1/github-logo.png" /> GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/mason-lopez-09a1478a/" target='_blank' ><img src="https://dl.dropboxusercontent.com/s/02cx5asqxpx6iwj/004-linkedin.png" /> LinkedIn</a></li>
      <li><a href="https://twitter.com/sporkBrigade" target='_blank' ><img src="https://dl.dropboxusercontent.com/s/6o4wpbk13vvavre/002-twitter.png" /> Twitter</a></li>
    </ul>
  </footer>
  
</body>